@model MyGardenWEB.ViewModel.ProductVM

@{
    ViewData["Title"] = "Details";
}

<h1>Детайли за продукт</h1>

<div class="product">
    <div class="product_img">
        <img src="@Html.DisplayFor(model => model.PhotoURL)" />
    </div>
    <div class="product_info">
        @Html.DisplayFor(model => model.BulgarianName)  /@Html.DisplayFor(model => model.LatinName)/ <br />
        <label>Размер: </label> @Html.DisplayFor(model => model.Size);<br />
        <label>Цена: </label> @Html.DisplayFor(model => model.Price);
    </div>

    <div class="quantity">
   @*      <form method="post" asp-controller="Orders" asp-action="CreateWithProductId" asp-route-productId="@ViewBag.ProductsId">
            <input name="countP" id="ccount" type="number" width="1" value="1" style="font:bold"/> Броя
            <input type="submit" value="order" asp-controller="Orders" asp-action="CreateWithProductId" asp-route-id="@Model.Id"/>
        </form> *@
        <div class="buttons">
            <a class="btn btn-primary" asp-controller="Orders" asp-action="Create" asp-route-id="@Model.Id">Добави в количката</a>
        </div>
    </div>
</div>
<div class="multiple_img">
    @foreach (var item in (IEnumerable<string>)Model.Files)
    {
        <div class="multiple_images">
            <img src=@Url.Content(item) />
        </div>
    }
</div>
<h4>Описание</h4>
<hr />
<p style="font-family:Vivaldi; font-size:24px; text-align:justify">@Html.DisplayFor(model => model.Description)</p>
<br />
<br />
@if (User.IsInRole("Admin"))
{
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактиране</a>
    <a asp-action="Index">Връщане назад</a>

}
else
{
    <a asp-action="Index">Връщане назад</a>
}

