@model IEnumerable<MyGardenWEB.Data.Order>

@{
    ViewData["Title"] = "Index";
    var price=ViewData["Price"];

}
<h1>Кошница</h1>
<p>
    <a asp-action="Create">
        Поръчай
    </a>
</p>
@if (User.IsInRole("Admin"))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Продукт
                </th>
                <th>
                    Клиент
                </th>
                <th>
                    Количество
                </th>
                <th>
                    Снимка
                </th>
                <th>
                   Цена
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Products.BulgarianName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clients.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem=>item.Products.PhotoURL)" width="120" height="auto" />
                    </td>
                    <td>
                        <p>
                            <b>
                                @if (ViewData["Price"] != null)
                                {
                                     @ViewData["Price"]
                                }
                               
                            </b>
                        </p>
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактиране</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

else
{
    <div class="self-grid">
        @foreach (var item in Model)
        {
            <div class="card" style="width:30%; height:25%; ">
                <div class="card-body">
                    <div class="card-img">
                        <img src="@Html.DisplayFor(modelItem=>item.Products.PhotoURL)" width="350" height="230" />
                    </div>
                    <br />
                    <h5 class="card-title">
                        <b> @Html.DisplayFor(modelItem => item.Products.BulgarianName)</b>
                    </h5>
                    <h5 class="card-title">
                        / @Html.DisplayFor(modelItem => item.Products.LatinName)/
                    </h5>
                    <p class="card-subtitle">
                        Количество:  @Html.DisplayFor(modelItem => item.Quantity)<br />
                    </p>
                    <p class="card-subtitle">
                        Цена: <b>@Html.DisplayFor(modelItem => item.Products.Price)</b>

                    </p>


                    @if (!User.IsInRole("Admin"))
                    {
                        <div class="overlay_product">
                            <div class="buttons">
                                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Детайли</a>
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Редакт.</a>
                                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>
                            </div>
                        </div>

                    }

                </div>
            </div>
        }
    </div>
}
 
<div class="calculate">
    @{
        decimal sum = 0;
    }
    @foreach(var item in Model)
    {
        
        sum = @Model.Sum(i => i.Quantity * i.Products.Price);
        
    }
    <p>Вашата сметка е: @sum лева</p>
</div>


<form asp-action="EmptyCart" asp-controller="Orders" method="post">
    <div class="form-group">
        <input type="submit" value="Поръчай" class="btn btn-primary" onclick="showAlert()"/>
       @*  <form>
            <div class="alert alert-success">@TempData["Message"]</div>
        </form> *@
    </div>
</form>
<script>
    // Функция, която се извиква при натискане на бутона за изпращане
    function showAlert() {
        // Показване на съобщението
        alert('Благодарим за Вашата поръчка!');
    }
</script>



