@model IEnumerable<MyGardenWEB.Data.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Поръчки</h1>

<p>
    <a asp-action="Create">Поръчай</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Продукт
            </th>
            <th>
                Клиент
            </th>
            <th>
                Количество
            </th>
            <th>
                Снимка
            </th>
            <th>
               Обща цена
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Products.BulgarianName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clients.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem=>item.Products.PhotoURL)" width="120" height="auto" />
                </td>
                <td>
                    @(item.Quantity * item.Products.Price) лв
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактиране</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>
                </td>
            </tr>
        }
    </tbody>
</table>
