@model IEnumerable<MyGardenWEB.Data.OrderDetail>

@{
    ViewData["Title"] = "Index";
    //var dateSave = ViewData["Date"];
}
<h1>Кошница</h1>

<form asp-action="ShowOrdersByDate" method="get">
    <div class="form-group">
        <label for="date">Изберете дата:</label>
        <input type="date" id="date" name="date" class="form-control" width="30" />
    </div>
    
    <button type="submit" class="btn btn-primary" asp-action="FilterByDate" asp-route-date="ViewBag.date">Филтриране</button>
    
</form>

@if (User.IsInRole("Admin"))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Продукт
                </th>
                <th>
                    Клиент
                </th>
                <th>
                    Количество
                </th>
                <th>
                    Снимка
                </th>
                <th>
                    Цена
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Products.BulgarianName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clients.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem=>item.Products.PhotoURL)" width="120" height="auto" />
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.Products.Price)</b>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

else
{
    <div class="self-grid">
        @foreach (var item in Model)
        {
            <div class="card" style="width:30%; height:25%; ">
                <div class="card-body">
                    <div class="card-img">
                        <img src="@Html.DisplayFor(modelItem=>item.Products.PhotoURL)" width="350" height="230" />
                    </div>
                    <br />
                    <h5 class="card-title">
                        <b> @Html.DisplayFor(modelItem => item.Products.BulgarianName)</b>
                    </h5>
                    <h5 class="card-title">
                        / @Html.DisplayFor(modelItem => item.Products.LatinName)/
                    </h5> 
                    <h5 class="card-title">
                        / @Html.DisplayFor(modelItem => item.OrderedOn)/
                    </h5>
@*                     <p class="card-subtitle">
                        Количество:  @Html.DisplayFor(modelItem => item.Quantity)<br />
                    </p>
                    <p class="card-subtitle">
                        Цена: <b>@Html.DisplayFor(modelItem => item.Products.Price)</b>

                    </p> *@
                </div>
            </div>
        }
    </div>
}
